{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Log out</a>
{% else %}
<a href="{% url 'login' %}">Log in</a>
{% endif %}

<hr>
<h1>Password list </h1>

<a href="{% url 'password-creation' %}">Add Password</a>

<br>
<br>

<h2>Currently saved passwords:</h2>

<table>
    {% for password in password_list %}
    <tr>
        <td><a href="{% url 'password' password.id %}">{{password.web_address}}</a></td>
    </tr>
    {% empty %}
        <h3>No items in list </h3>
    {% endfor %}
</table>